@media (min-width: 1025px) {
    .header_mobile {
        display: none;
    }

}

@media (min-width:740px) and (max-width:1025px) {
    .header_desktop {
        display: none;
    }

    .my_testimonials {
        margin-top: -5px;
        height: 520px;
    }

    .contact {
        height: 825px;
    }
}

@media (max-width:739px) {
    .loading-web>div>h1 {
        font-size: 16px;
    }

    .header_desktop {
        display: none;
    }

    .slide-content-text>div>h1>span {
        /* font-size: 24px; */
        margin: 0 2px;
    }

    .slide-content-text>div>h1 {
        font-size: 24px;
        margin-bottom: 5px;
    }

    .Typewriter>span {
        font-size: 12px;
    }

    .second-body-content>h1 {
        font-size: 32px;
        line-height: 38px;
    }

    .second-body-content>h5 {
        font-size: 24px;
        line-height: 28px;
    }

    .second-body-content {
        max-width: 70%;
    }

    .second-body {
        height: 55vh;
    }

    .second-body-content>p {
        font-size: 16px;
    }

    .third-body-item {
        flex: 0 0 calc(100% - 30px);

    }

    .third-body {
        height: max-content;
    }

    .third-body-container {
        position: relative;
    }

    .project-title {
        padding: 50px 0 30px 0;
    }

    .project-title>h1 {
        font-size: 32px;
        line-height: 48px;
    }

    .project-title>a {
        font-size: 16px;
    }

    .project {
        height: max-content;
    }

    .header-left>p {
        font-size: 16px;
        padding: 10px 10px;
    }

    .contact-container>div {
        flex-wrap: wrap;
        padding: 25px;
        max-width: 80%;
        margin-top: 50px;
    }

    .contact-container>div>div {
        width: 100%;

    }

    .add_right {
        padding: 0;
    }



    .form_left {
        margin-bottom: 20px;
    }

    .footer_container>div {
        width: calc(100%);
    }

    .my_testimonials {
        height: 570px;
    }

    .contact {
        height: 938px;
    }

    .footer-left>ul {
        justify-content: center;
    }

    .footer-left {
        order: 2;
    }

    .footer_container {
        padding: 10px 0;
    }


}